__pycache__/
*.pyc
.venv/
venv/
*.egg-info/
.pytest_cache/
.ipynb_checkpoints/
runs/
checkpoints/*
!checkpoints/stable/
checkpoints/stable/*
!checkpoints/stable/exp23_combofeat_full_NOSHOP_VALIDATED_73pct_winrate.zip
logs/
